{% extends 'main.html' %}

{% block code %}
<div class="mycase">
    {% for i in data %}
    <div class="mycasecontainer">
        <div class="edit">
            <h1>DIAGNOSIS INFO</h1>
            <div class="double">
                <div class="double">
                    <h1>Accepted</h1>
                    <a href="{% url 'recover_decline' i.id %}">Decline</a>
                </div>    
           </div>
        </div>
        <div class="row">
            <h3>PatientName</h3>
            {{i.patient_name}}
        </div>
            <div class="row">
                <h3>Disease Diagnosed </h3>
            {{i.disease_diagnosed}}
        </div>
        <div class="row">
            <h3>Date</h3>
            {{i.date}}
        </div>
        <div class="rows">
            <h3>time</h3>
            {{i.time}}
        </div>
            
            <div class="rows">
                <h3>Message</h3>
            {{i.message_to_doctor}}
        </div>
       

        
    </div>



    {% endfor%}
</div>


   
{% endblock code %}
